.part3{
  background: #FAFBFD;
}

.img1{
  
}

.img2{
  margin-top: -183.93px;
}

.img3{
  width: 393px;
  height: 181.069px;
  margin-left: 92px;
  margin-bottom: 167.93px;
  margin-top: 130.07px;
}

img4{
  width: 521.17px;
  height: 284px;
  border-radius: 8px;
  flex-shrink: 0;
  
}

.group{
    display: flex;
    justify-content: space-between;
}