.part4full{
  position: absolute;
  width: 1152px;
  height: 700px;
  flex-shrink: 0;
}

.part4{
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header1 {
  width: 769px;
  height: 55px;
  flex-shrink: 0;
  text-align: center;
  font-family: Rubik;
  font-size: 44px;
  font-weight: 700;
  line-height: 126%;
  margin-top: 79.59px;
  margin-left: 312px;
  align-items: center;
}
  
.red-text {
  color: #EC5863;
}
  
p1 {
  width: 600.901px;
  height: 52px;
  flex-shrink: 0;
  color: #616161;
  text-align: center;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 138.5%;
  letter-spacing: 0.96px;
  margin-top: 4px;
  margin-left: 316px;
  margin-bottom: 46.17px;
}

.bgroup{
  display: flex;
  gap: 30px;
  margin-left: 86.74px;
  margin-right: 86.74px;
}

.image-container {
  position: relative;
  margin-left: 86.74px;
  z-index: 10;
}
  
.group42 {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 35.5px;
  margin-top: 57px;
}
  
.rectangle22 {
  position: relative;
}

.image-container1 {
  position: relative;
  z-index: 10;
}
    
.group43 {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 35.5px;
  margin-top: 57px;
}
 
.image-container2 {
  position: relative;
  z-index: 10;
  margin-right: 86.74px;
}

.group45 {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 35.5px;
  margin-top: 57px;
}

.gp{
 position: absolute;
}

.block1{
  position: absolute;
  margin-left: 168px;
  margin-top: -68px;  
  z-index: 0;
}

.block2{
  position: absolute;
  top: -268px;
  left: 408px;
  z-index: 0;
}

.block3{
  position: absolute;
  top: -150px;
  left: 760px;  
  z-index: 0;
}

.block4{
  position: absolute;
  top: -348px;
  left: 1104px;  
  z-index: 0;
}

.image1{
  position: absolute;
  flex-shrink: 0;
  margin-top: 28px;
  margin-left: 390.19px;
  margin-bottom: 46.9px;
}

.image2{
  margin-top: 28px;
  margin-left: 699.99px;  
}